
body {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(1) {
  height: 75px;

}

section:nth-child(2) {
  height: 150px;
  
}

section:nth-child(3), section:nth-child(4) {
  height: 125px;
}

section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  height: 250px;
  width: 50%;
}

section:nth-child(9) {
  height: 80px;
}

@media (min-width: 768px) {
  
  body {
    width: 100vw;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "box-a box-a"
    "box-b box-b"
    '. .'
    '. .'
    '. .'
    "box-i box-i";
}


  section {
    display: grid;
  }

  section:nth-child(1) {
  height: 80px;
  grid-area: box-a;

  }

  section:nth-child(2) {
    height: 300px;
    grid-area: box-b;
  }

  section:nth-child(3), section:nth-child(4) {
    height: 200px;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    width: 100%;
  }

  section:nth-child(9) {
    height: 150px;
    grid-area: box-i;
  }
}


@media (min-width: 960px) {
  
  body {
    width: 100vw;
    display: grid;
    grid-template-columns: 20.834% 19.792% 19.792% 19.792% 19.792%;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }

  section{
    display:grid;
  }

  section:nth-child(1) {
  height: 100px;
  grid-column: 1/6;
 

  }

  section:nth-child(2) {
    height: 600px;
    grid-column: 1;
    grid-row: 2/5;

  }

  section:nth-child(3) {
    line-height: 200px;
    height: 200px;
    grid-row: 2;
    grid-column: 2/4;
  }

  section:nth-child(4) {
    line-height: 200px;
    height: 200px;
    grid-row: 2;
    grid-column: 4/6;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    grid-row: 3;
  }

  section:nth-child(9) {
    height: 150px;
    line-height: 150px;
    grid-row: 4;
    grid-column: 2/6;
  }
}