
body {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(1) {
  height: 75px;

}

section:nth-child(2) {
  height: 150px;
  
}

section:nth-child(3), section:nth-child(4) {
  height: 125px;
}

section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  height: 250px;
  width: 50%;
}

section:nth-child(9) {
  height: 80px;
}

@media (min-width: 768px) {
  
  body {
    width: 768px;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "box-a box-a"
    "box-b box-b"
    '. .'
    '. .'
    '. .'
    "box-i box-i";
}


  section {
    display: grid;
  }

  section:nth-child(1) {
  height: 80px;
  line-height: 80px;
  grid-area: box-a;

  }

  section:nth-child(2) {
    height: 300px;
    line-height: 300px;
    grid-area: box-b;
  }

  section:nth-child(3), section:nth-child(4) {
    line-height: 200px;
    height: 200px;
    /* width: 380px; */
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  
    height: 250px;
    width: 100%;
    /* width: 50%; */
    /* width: 190px; */
  }

  section:nth-child(9) {
    height: 150px;
    line-height: 150px;
    grid-area: box-i;
    /* width: 768px; */
  }
}


@media (min-width: 960px) {
  
  body {
    width: 960px;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "box-a box-a"
    "box-b box-b"
    '. .'
    '. .'
    '. .'
    "box-i box-i";
  }

  section:nth-child(1) {
  height: 100px;
  line-height: 100px;

  }

  section:nth-child(2) {
    height: 600px;
    line-height: 600px;
    width: 200px;
  }

  section:nth-child(3), section:nth-child(4) {
    line-height: 200px;
    height: 200px;
    width: 380px;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    width: 190px;
  }

  section:nth-child(9) {
    height: 150px;
    line-height: 150px;
    width: 760px;
  }
}