body {
  width: 375px;
  margin: 0 auto;
  align-items: center;
}

section {
  width: 100%;
  /* float: left; */
  text-align: center;
}

section:nth-child(1) {
  height: 75px;
  line-height: 75px;

}

section:nth-child(2) {
  height: 150px;
  line-height: 150px;
  /* if you know the height, this works easiest */
}

section:nth-child(3), section:nth-child(4) {
  line-height: 125px;
  height: 125px;
}

section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-wrap: row wrap;
  /* flex-flow: wrap; */
  /* flex-direction: row;  */
  /* align-items:flex-start; */
  height: 250px;
  width: 50%;
}

section:nth-child(9) {
  height: 80px;
  line-height: 80px;
}

@media (min-width: 768px) {
  
  body {
    width: 768px;
  }

  section:nth-child(1) {
  height: 80px;
  line-height: 80px;

  }

  section:nth-child(2) {
    height: 300px;
    line-height: 300px;
    /* width: 200px; */
  }

  section:nth-child(3), section:nth-child(4) {
    line-height: 200px;
    height: 200px;
    width: 380px;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    width: 190px;
  }

  section:nth-child(9) {
    height: 150px;
    line-height: 150px;
    width: 760px;
  }
}


@media (min-width: 960px) {
  
  body {
    width: 960px;
  }

  section:nth-child(1) {
  height: 100px;
  line-height: 100px;

  }

  section:nth-child(2) {
    height: 600px;
    line-height: 600px;
    width: 200px;
  }

  section:nth-child(3), section:nth-child(4) {
    line-height: 200px;
    height: 200px;
    width: 380px;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    height: 250px;
    width: 190px;
  }

  section:nth-child(9) {
    height: 150px;
    line-height: 150px;
    width: 760px;
  }
}